# Models, checkpoints
*.h5
*.ckpt
*.keras

# Data, audio, csv
*.wav
*.mp3
*.m4a

# Cache, logs, backups
__pycache__/
*.pyc
*.pyo
*.log

# Virtual env
venv/
.env/
.env

# IDE/OS files
.vscode/
.idea/
.DS_Store

# Temp
output/
drafts/
ffmpeg/
dataset/
*.out

# Tokens
secrets.json
token.txt
